<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Raleway & Lato Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/trix.css"> 
    <link rel="stylesheet" href="/css/app.css">
    <title>{{nombrePagina}}</title>
</head>
<body>
    <div class="nombre-sitio contenedor" id="top-header">
        <h1>
            <a href="/">Mentorly</a>
        </h1>
        {{#if barra}}
            <div class="buscador">
                <form action="/buscador" method="POST">
                    <input type="text" name="q" class="buscar">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        {{/if}}

        <ul class="menu-items {{#if cerrarSesion}}logged-in{{else}}logged-put{{/if}}" > 
            {{#if cerrarSesion }}
                <div class="cerrar-sesion perfil-usuario">
                    <li>
                        {{#if imagen}}
                            <img src="/uploads/perfiles/{{imagen}}" class="admin-perfil" alt="Imagen Usuario">
                        {{/if}}
                    </li>
                    <li><p>Hola! {{nombre}}</p></li>
                    <li><a href="/administracion" class="btn btn-teal">Administración</a></li>
                    <li><a href="/cerrar-sesion" class="btn btn-gris">Cerrar Sesión</a></li>
                </div>
            {{else}}
                <div class="cerrar-sesion">
                    <li><a href="/crear-cuenta" class="btn btn-morado">Crear Cuenta</a></li>
                    <li><a href="/iniciar-sesion" class="btn btn-naranja">Iniciar Sesión</a></li>
                </div>
            {{/if}}
        </ul>
    </div>

    <header class="site-header contenedor separador">
        <h2>{{nombrePagina}}</h2>

        {{#if tagline}}
            <p class="tagline">{{tagline}}</p>
        {{/if}}

        {{#if boton}}
            <a href="/vacantes/nueva" class="btn btn-azul">Publicar Nueva Vacante</a>
        {{/if}}
    </header>

    <div class="contenido-principal contenedor">
        {{#if mensajes}}
            <div class="alertas">
                {{#mostrarAlertas mensajes}}
                {{/mostrarAlertas}}   
            </div>
        {{/if}}
        {{{body}}}
    </div>

    <script src="/js/trix.js"></script>
    <script src="/dist/bundle.js"></script>
</body>
</html>