<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">
        <h3>Información General</h3>

        <div class="campo">
            <label>Titulo</label>
            <input type="text" name="titulo" placeholder="Ej: Diseñador Grafico" value="{{vacante.titulo}}" required>
        </div>
        <div class="campo">
            <label>Empresa</label>
            <input type="text" name="empresa" placeholder="Empresa Contrata" 
            value="{{vacante.empresa}}" required>
        </div>
        <div class="campo">
            <label>Ubicación</label>
            <input type="text" name="ubicacion" placeholder="Ej: Perú o Remoto" value="{{vacante.ubicacion}}" required>
        </div>
        <div class="campo">
            <label>Salario (USD)</label>
            <input type="text" name="salario" placeholder="Ej: $500 USD" value="{{vacante.salario}}" required>
        </div>
        <div class="campo">
            <label>Contrato</label>
            <select name="contrato">
                {{#tipoContrato vacante.contrato}}
                    <option value=""disabled selected>-- Selecciona --</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Full-Time">Full - Time</option>
                    <option value="Part-Time">Part - Time</option>
                    <option value="Por Proyecto">Por Proyecto</option>
                {{/tipoContrato}}
            </select>
        </div>
        <h3>Descripción del Puesto</h3>
        <div class="campo descripcion">
            <label>Descripción</label>
            <div class="trix-container">
                <input type="hidden" id="x" name="descripcion" value="{{vacante.descripcion}}">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>

        <h3>Conocimientos</h3>
        <label>Developer Skills</label>

        <ul class="lista-conocimientos">
            {{#seleccionarDevSkills vacante.skills}}
            {{/seleccionarDevSkills}}
        </ul>

        <label>Soft Skills</label>
        <ul class="lista-conocimientos">
            {{#seleccionarSoftSkills vacante.skills}}
            {{/seleccionarSoftSkills}}
        </ul>
        <label>Ux/Ui Skills</label>
        <ul class="lista-conocimientos">
            {{#seleccionarUxUiSkills vacante.skills}}
            {{/seleccionarUxUiSkills}}
        </ul>

        <label>Herramientas</label>
        <ul class="lista-conocimientos">
            {{#seleccionarTools vacante.skills}}
            {{/seleccionarTools}}
        </ul>
        <label>Idioma</label>
        <ul class="lista-conocimientos"> 
            {{#seleccionarIdioma vacante.skills}}
            {{/seleccionarIdioma}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>
    </form>
</main>